.btn {
    padding: 10px 15px;
    font-family: var(--font);
    font-size: var(--size);
    font-weight: 500;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--secondary-100);
    border-radius: var(--rounded);
    cursor: pointer;
    box-shadow: var(--shadow);
}

.btn:hover {
    filter: brightness(1.2);
}

.btn.btn-primary {
    background-color: var(--primary-100);
}