.auth-form {
    max-width: 400px;
    margin: 0 auto;
    padding: var(--gap-lg);
    box-shadow: var(--shadow-lg);
    border-radius: var(--rounded);
    border: 1px solid var(--secondary-300);
}

.form-row,
.form-group {
    width: 100%;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-lg);
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.form-control {
    min-height: 40px;
    width: 100%;
    padding: 10px 12px;
    outline: none;
    border: 1px solid var(--secondary-300);
    font-family: var(--font);
    font-size: var(--size);
    background-color: var(--secondary-200);
    border-radius: var(--rounded);
}

.form-control:focus {
    border-color: var(--primary-100);
    box-shadow: 0 0 0 3px var(--primary-200);
}

.form-control.h-200 {
    height: 200px;
    resize: none;
}

.form-control.h-120 {
    height: 120px;
    resize: none;
}

.change-form {
    margin-top: var(--gap-md);
}

.change-form a {
    color: var(--secondary-400);
    text-decoration: underline;
    font-size: 14px;
}

.change-form a:hover {
    color: var(--primary-100);
}

@media  screen and (max-width: 800px) {
    .form-row {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}