{% extends "base.html" %}
{% from "macro.html" import render_messages %}

{% block title %}
  500 | codewithmpia
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}


{% block head %}
  <section id="head">
    <div class="head-content">
      <div class="head-links">
        <a href="{{ url_for('index') }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
            stroke-linecap="round" stroke-linejoin="round">
            <path d="m15 18-6-6 6-6"/>
          </svg>
          <span>Retour</span>
        </a>
        <a href="https://github.com/codewithmpia" target="_blank">
            <span>Github</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" 
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                <path d="m21 3-9 9"/>
                <path d="M15 3h6v6"/>
            </svg>
        </a>
      </div>
      <div class="post-head">
        <h2>Oups, une erreur s'est produite.</h2>
        <p class="post-resume">Nous mettons tout oeuvre pour corriger ce problème.</p>
      </div>
  </div>
  </section>
{% endblock %}


{% block main %}
  <section id="contents">
    <div class="container">
      {{ render_messages(dismissible=true) }}
    </div>
  </section>
{% endblock %}
